<section>
    <h2>Add book form</h2>
    
    <form [formGroup]="bookForm">
        <mat-form-field class="full-width">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Author</mat-label>
            <input matInput type="text" formControlName="author" />
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Publication date</mat-label>
            <input matInput type="text" formControlName="publicationDate" />
        </mat-form-field>

        <button mat-flat-button color="primary" type="button" (click)="addBook()">Add</button>
    </form>
</section>

