<section>
    <h2>Add book form</h2>
    
    <form>
        <mat-form-field class="full-width">
            <mat-label>Title :</mat-label>
            <input matInput type="text" />
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Author :</mat-label>
            <input matInput type="text" />
        </mat-form-field>
        
        <mat-form-field class="full-width">
            <mat-label>Publication date :</mat-label>
            <input matInput type="text" />
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Add</button>
    </form>
</section>

